*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:"roboto";
    text-transform: capitalize;
    text-decoration: none;
    
}
body{
    min-height: 100vh;
}
header{
    position: fixed;
    width: 100vw;
    top: 0;
    right:0;
    left: 0;
    padding:12px 7%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 1000;
    
    
}
header .logo{
    width:200px;
    height: 55px;
}
header .navbar ul{
    list-style-type: none;
    
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    display: block;
    color: black;
}
header .navbar ul li a:hover{
    background-color:black;
    color: white;
}
header .navbar ul li ul{
    position:absolute;
    left: 0;
    background-color:gray;
    width:200px;
    display: none;
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid black;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}
#menu-bar{
    display: none;
    
}
header label{
    font-size: 20px;
    cursor: pointer;
    color: black;
    display: none;
}

@media screen and (max-width:991px) {
    header{
        padding: 20px;
    }
    header label{
        display: initial;
    }
    header .navbar{
        position: absolute;
        width: 100%;
        top:100%;
        left: 0;
        background-color:grey;
        border-top: 1px solid rgb(104, 141, 58);
        display: none;
    }
    header .navbar ul li a{
        color: white;
    }
    
    header .navbar ul li {
        width: 100%;
    }
    header .navbar ul li ul{
        position:relative;
        left: 0;
        width: 100%;
    }
    header .navbar ul li ul li{
        background-color: grey;
    }
    #menu-bar:checked ~.navbar{
        display: initial;
    }
    .container{
        width:100%;
    }
}
.bg-container{
    background-image: url("./images/products-page-heading.jpg");
    height:600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;  
    
    
}
.bg-container >h1{
    font-size: 3.5rem;
    font-weight: bolder;
    margin-top: 60px;
}
.bg-container > p{
    font-size: 1.2rem;
    margin-top: 5px;
    color: white;
}
.men-cart-container{
    min-height:38vh;
    width: 100vw;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap:40px;
    margin-bottom:60px ;
}

.men-container >img{
    width: 100%;
    object-fit:fill;
    cursor: pointer;

}
.side-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 7px 30px;
    margin-top: 60px;
}
.side-content >h1{
    margin-bottom:4px;
    font-size: 30px;
    font-weight: bold;

}
.side-content >p{
    margin-top: 0;
    margin-bottom:0px;
    font-size: 18px;
    color: grey;
}
.icon{
    padding-top: 18px;
}
.side-section{
width:100%;
display: flex;
justify-content: space-between;
line-height: 10px;
}
.description{
    padding-top: 18px;
}
.description >h1{
font-size:30px;
font-weight: bold;
padding-top:40px;
}
.description >p{
font-size: 18px;
color: gray;
padding-top: 20px;


}

@media screen and (max-width:980px){
.men-cart-container{
grid-template-columns:repeat(2,1fr);
justify-content: center;
}
#card{
    display: none;
}

}
@media screen and (max-width:768px) {
.men-cart-container{
grid-template-columns: repeat(1,1fr);
}
#card{
    display: block;
}

}

/*footer*/
.footer-section{
    min-height: 40vh;
    width: 100vw;
    line-height: 45px;
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: #2a2a2a;
    padding: 20px 30px;
  } 
  .top-section{
    margin-top: 3rem;
    margin-bottom: 30px;

  }
  .bottom-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
    margin-bottom: 30px;
    padding-top: 30px;
  }
  .item1 >img{
    background-color: white;
    height: 60px;
    width:230px;
  }
  .item1,.item2,.item3,.item4 >p{
    font-size: 18px;
  }
  .middle>p{
    font-size: 18px;
  }
@media screen and (min-width:768px)  and (max-width:990px){
.footer-section{
text-align: center;
}

} 
@media screen and (width>=991px) {
.top-section{
display: flex;
gap:90px;
}

}